
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin:0;   
}

.navbar-container{
    width: 100%;
    display: flex;
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
    top:0;
    position: sticky;
    height: 56px    ;
    background: #1976d2
}